

@{
    ViewData["Title"] = "Trekk vinner";
    int Count = (int) ViewData["Count"];
}

<div class="text-center">
    <h1 class="display-4">Welkommen til Experis vinlotteri!</h1>
    <h3> Det er @Count reggistrerte deltagere   </h3>
</div>






